@import url("https://use.typekit.net/sbg8mkj.css");
@import url("https://use.typekit.net/sbg8mkj.css");
@import url("https://use.typekit.net/sbg8mkj.css");
@import url("https://use.typekit.net/sbg8mkj.css");

body{
    background-color: black;
    padding: 0px 20px; 
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  pointer-events: auto;
}

h1{
font-family: "battery-park", sans-serif;
font-weight: 400;
font-style: normal;
color: #8ACE00;
font-size: 60px; 
}

h2{
font-family: "battery-park", sans-serif;
font-weight: 400;
font-style: normal;
color: antiquewhite;
font-size: 60px;
margin-top: -10px;
}

p{
    font-family: sans-serif, Arial;
    font-style: italic;
    color: antiquewhite;
    font-size:30px; 
    position: relative;
    text-align: center;
}

.p2{
font-family: "carilliantine", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 40px; 
color: antiquewhite; 
text-align: center;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    border-bottom: 2px solid antiquewhite;
    text-align: center;
    pointer-events: none;
    padding: 5px
}
.beginning{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding-top: 20px; 
    position: relative;
    text-align: center;
    pointer-events: none;  
}
.mainTitle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding-top: -10px; 
    position: relative;
    text-align: center;
    pointer-events: none; 
}

 .start h2, .start p, .start img {
    pointer-events: auto; 
}
.info {
    position: relative;
    bottom: 5px; 
    text-align: center;
}

.frame{
    border-radius: 20px;
    margin-top: 10px;
    min-width: 400px;
    height: 400px;
}

.frame2{
    border-radius: 20px;
    margin-top: 10px;
    min-width: 500px;
    height: 500px;
}

.frame3{
    border-radius: 20px;
    margin-top: 10px;
    min-width: 500px;
    height: 300px;
}

.frame4{
   border-radius: 20px;
    margin-top: 10px;
    min-width: 600px;
    height: 600px; 
}

.frame5{
   border-radius: 20px;
    margin-top: 10px;
    min-width: 800px;
    height: 800px; 
    
}
/* .box{
    display: flex; 
    gap: 20px;
}

.box p{
    transition: all 0.3 ease; 
}
.box p:hover{
    color:black;
} */

li{
font-family: "vandertak-capslock-top", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 48px;
}

.floating-image {
    position: absolute;
    height: 400px;
    width: 400 px;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.img1 { top: 12%; left: 33%; width: 250px; height: 330px;}
.img2 { top: 50%; right: 35%; width: 400px; height: 500px; }
.img3 { bottom: 20%; left: 23%; }
.img4 { bottom: 44%; right: 33%; }
.img5 {bottom: 5%; right: 14%;width: 400px; height:600px;}
.img6 {bottom: 5%; left: 9%; width:350px; height: 500px;}

